<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/02_Python_Pandas_exercise_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

Features of DataFrame
Potentially columns are of different types
Size â€“ Mutable
Labeled axes (rows and columns)
Can Perform Arithmetic operations on rows and columns

In [0]:
import pandas as pd

**Create Empy DataFram**

In [2]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst =['a','b','c']
print(lst)

['a', 'b', 'c']

In [5]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [6]:
df1

   0
0  a
1  b
2  c

In [7]:
ls_of_ls =[[1,2,3],[4,5,6],[7,8,9]]
print(ls_of_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
df2 = pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
dict1= {'ID':[11,22,33,44]}
dict1

{'ID': [11, 22, 33, 44]}

In [13]:
df3 =pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [14]:
dict1= {'ID':[11,22,33,44],'SN':[1,2,3,4]}
dict1

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [15]:
df3 =pd.DataFrame(dict1)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [17]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4}]
df5=pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [18]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df5=pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [23]:
df6.info

<bound method DataFrame.info of    ID   SN
0   1  111
1   2  222
2   3  333>

In [19]:
dict_st = {'ID': pd.Series ([1,2,3]),'SN': pd.Series([111,222,333])}
df6 =pd.DataFrame(dict_st)
df6

   ID   SN
0   1  111
1   2  222
2   3  333

In [21]:
df6.head()

   ID   SN
0   1  111
1   2  222
2   3  333

In [22]:
df6.info

<bound method DataFrame.info of    ID   SN
0   1  111
1   2  222
2   3  333>

# Selection by Label
**Rows can be selected by passing row label to a loc function.**

In [40]:
d = {'one' :pd.Series([1,2,3],index=['a','b','c']), 'two' :pd.Series([1,12,3,4],index=['a', 'b', 'c', 'd'])}

df7=pd.DataFrame(d)
df7

   one  two
a  1.0    1
b  2.0   12
c  3.0    3
d  NaN    4

In [41]:
df7.loc['b']

one     2.0
two    12.0
Name: b, dtype: float64