<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/03_Python_Pandas_hr_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import files

employees = files.upload()
employees = pd.read_csv(r"EMPLOYEES.csv")

Saving EMPLOYEES.csv to EMPLOYEES (1).csv

In [0]:
import pandas as pd
from google.colab import files

departments  = files.upload()
departments  = pd.read_csv(r"DEPARTMENTS.csv")

Saving DEPARTMENTS.csv to DEPARTMENTS.csv

In [0]:
import pandas as pd
from google.colab import files

job_history   = files.upload()
job_history   = pd.read_csv(r"JOB_HISTORY.csv")

Saving JOB_HISTORY.csv to JOB_HISTORY.csv

In [0]:
import pandas as pd
from google.colab import files

jobs   = files.upload()
jobs   = pd.read_csv(r"JOBS.csv")

Saving JOBS.csv to JOBS.csv

In [0]:
import pandas as pd
from google.colab import files

countries    = files.upload()
countries    = pd.read_csv(r"COUNTRIES.csv")

Saving COUNTRIES.csv to COUNTRIES (3).csv

In [0]:
import pandas as pd
from google.colab import files

regions     = files.upload()
regions     = pd.read_csv(r"REGIONS.csv")

Saving REGIONS.csv to REGIONS.csv

In [0]:
import pandas as pd
from google.colab import files

locations      = files.upload()
locations      = pd.read_csv(r"LOCATIONS.csv")

Saving LOCATIONS.csv to LOCATIONS.csv

**Display all the location id from locations file.**

In [0]:
#SELECT location_id  FROM LOCATIONS;
result = locations[['location_id']]
print("All the locations id from locations file:")
print(result)

All the locations id from locations file:
    location_id
0          1000
1          1100
2          1200
3          1300
4          1400
5          1500
6          1600
7          1700
8          1800
9          1900
10         2000
11         2100
12         2200
13         2300
14         2400
15         2500
16         2600
17         2700
18         2800
19         2900
20         3000
21         3100
22         3200

**Extract first 7 records from employees file.**

**Equivalent SQL Syntax:**

SELECT  * FROM EMPLOYEES limit 7;

In [0]:
employees.head(7)

   employ_id first_name  last_name  ... commission_pct manager_id department_id
0        100     Steven       King  ...            NaN        NaN          90.0
1        101      Neena    Kochhar  ...            NaN      100.0          90.0
2        102        Lex    De Haan  ...            NaN      100.0          90.0
3        103  Alexander     Hunold  ...            NaN      102.0          60.0
4        104      Bruce      Ernst  ...            NaN      103.0          60.0
5        105      David     Austin  ...            NaN      103.0          60.0
6        106      Valli  Pataballa  ...            NaN      103.0          60.0

[7 rows x 11 columns]

**Select distinct department id from employees file**


**Equivalent SQL Syntax:**

SELECT DISTINCT department_id FROM EMPLOYEES;

In [0]:
print('Distinct department_id')

employees.department_id.unique()

Distinct department_id

array([ 90.,  60., 100.,  30.,  50.,  80.,  nan,  10.,  20.,  40.,  70.,
       110.])

**Display the name, and department number for all employees whose last name is "McEwen"**

Equivalent SQL Syntax:

SELECT first_name, last_name, department_id
 FROM employees
  WHERE last_name = 'McEwen';

In [0]:
print("Last Name   First Name      Department ID")

result =employees[employees.last_name=='McEwen']

for index, row in result.iterrows():
  print(row['last_name'],'    ',row['first_name'],'          ',row['department_id'])

Last Name   First Name      Department ID
McEwen      Allan            80.0

**Display the first, last name, salary and department number for those employees whose first name starts with the letter 'S'.**


SQL Syntax:

SELECT first_name, last_name, salary,  department_id
  FROM employees
   WHERE first_name  LIKE 'S%';

In [0]:
print("First name       Last name      Salary    Department ID")

result =employees[employees['first_name'].str[:1]=='S']

for index,row in result.iterrows():
    print(row['first_name'].ljust(15),   row['last_name'].ljust(15),   str(row['salary']).ljust(9),     row['department_id'])

First name       Last name      Salary    Department ID
Steven          King            24000     90.0
Shelli          Baida           2900      30.0
Sigal           Tobias          2800      30.0
Shanta          Vollman         6500      50.0
Steven          Markle          2200      50.0
Stephen         Stiles          3200      50.0
Sarath          Sewall          7000      80.0
Sundar          Ande            6400      80.0
Sundita         Kumar           6100      80.0
Sarah           Bell            4000      50.0
Samuel          McCain          3200      50.0
Susan           Mavris          6500      40.0
Shelley         Higgins         12000     110.0

**Display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'.**

Equivalent SQL Syntax

SELECT first_name, last_name, salary,  department_id
  
  FROM employees
   
   WHERE first_name **NOT LIKE '%M%';**

In [0]:
result  = employees[employees['first_name'].str.find('M')== -1]
print("Last name       First name      Salary    Department ID")
for index,row in result.iterrows():
  print(row['last_name'].ljust(15),row['first_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

Last name       First name      Salary    Department ID
King            Steven          24000     90.0
Kochhar         Neena           17000     90.0
De Haan         Lex             17000     90.0
Hunold          Alexander       9000      60.0
Ernst           Bruce           6000      60.0
Austin          David           4800      60.0
Pataballa       Valli           4800      60.0
Lorentz         Diana           4200      60.0
Greenberg       Nancy           12000     100.0
Faviet          Daniel          9000      100.0
Chen            John            8200      100.0
Sciarra         Ismael          7700      100.0
Popp            Luis            6900      100.0
Raphaely        Den             11000     30.0
Khoo            Alexander       3100      30.0
Baida           Shelli          2900      30.0
Tobias          Sigal           2800      30.0
Himuro          Guy             2600      30.0
Colmenares      Karen           2500      30.0
Fripp           Adam            8200      50.0
Kaufling        Payam           7900      50.0
Vollman         Shanta          6500      50.0
Mourgos         Kevin           5800      50.0
Nayer           Julia           3200      50.0
Mikkilineni     Irene           2700      50.0
Landry          James           2400      50.0
Markle          Steven          2200      50.0
Bissot          Laura           3300      50.0
Marlow          James           2500      50.0
Olson           TJ              2100      50.0
Mallin          Jason           3300      50.0
Gee             Ki              2400      50.0
Philtanker      Hazel           2200      50.0
Ladwig          Renske          3600      50.0
Stiles          Stephen         3200      50.0
Seo             John            2700      50.0
Patel           Joshua          2500      50.0
Rajs            Trenna          3500      50.0
Davies          Curtis          3100      50.0
Matos           Randall         2600      50.0
Vargas          Peter           2500      50.0
Russell         John            14000     80.0
Partners        Karen           13500     80.0
Errazuriz       Alberto         12000     80.0
Cambrault       Gerald          11000     80.0
Zlotkey         Eleni           10500     80.0
Tucker          Peter           10000     80.0
Bernstein       David           9500      80.0
Hall            Peter           9000      80.0
Olsen           Christopher     8000      80.0
Cambrault       Nanette         7500      80.0
Tuvault         Oliver          7000      80.0
King            Janette         10000     80.0
Sully           Patrick         9500      80.0
McEwen          Allan           9000      80.0
Smith           Lindsey         8000      80.0
Doran           Louise          7500      80.0
Sewall          Sarath          7000      80.0
Vishney         Clara           10500     80.0
Greene          Danielle        9500      80.0
Lee             David           6800      80.0
Ande            Sundar          6400      80.0
Banda           Amit            6200      80.0
Ozer            Lisa            11500     80.0
Bloom           Harrison        10000     80.0
Fox             Tayler          9600      80.0
Smith           William         7400      80.0
Bates           Elizabeth       7300      80.0
Kumar           Sundita         6100      80.0
Abel            Ellen           11000     80.0
Hutton          Alyssa          8800      80.0
Taylor          Jonathon        8600      80.0
Livingston      Jack            8400      80.0
Grant           Kimberely       7000      nan
Johnson         Charles         6200      80.0
Taylor          Winston         3200      50.0
Fleaur          Jean            3100      50.0
Geoni           Girard          2800      50.0
Sarchand        Nandita         4200      50.0
Bull            Alexis          4100      50.0
Dellinger       Julia           3400      50.0
Cabrio          Anthony         3000      50.0
Chung           Kelly           3800      50.0
Dilly           Jennifer        3600      50.0
Gates           Timothy         2900      50.0
Perkins         Randall         2500      50.0
Bell            Sarah           4000      50.0
Everett         Britney         3900      50.0
McCain          Samuel          3200      50.0
Jones           Vance           2800      50.0
Walsh           Alana           3100      50.0
Feeney          Kevin           3000      50.0
OConnell        Donald          2600      50.0
Grant           Douglas         2600      50.0
Whalen          Jennifer        4400      10.0
Fay             Pat             6000      20.0
Mavris          Susan           6500      40.0
Baer            Hermann         10000     70.0
Higgins         Shelley         12000     110.0
Gietz           William         8300      110.0

**Display the first name, last name, salary and department number in ascending order by department number.**


Equivalent SQL Syntax:

SELECT first_name, last_name, salary,  department_id
  FROM employees
   ORDER BY department_id;

In [0]:
result=employees.sort_values('department_id',ascending=True)
print("First name       Last name      Salary    Department ID")
for index,row in result.iterrows():
  print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name       Last name      Salary    Department ID
Jennifer        Whalen          4400      10.0
Michael         Hartstein       13000     20.0
Pat             Fay             6000      20.0
Karen           Colmenares      2500      30.0
Guy             Himuro          2600      30.0
Shelli          Baida           2900      30.0
Alexander       Khoo            3100      30.0
Den             Raphaely        11000     30.0
Sigal           Tobias          2800      30.0
Susan           Mavris          6500      40.0
Curtis          Davies          3100      50.0
Randall         Perkins         2500      50.0
Peter           Vargas          2500      50.0
Britney         Everett         3900      50.0
Sarah           Bell            4000      50.0
Trenna          Rajs            3500      50.0
Joshua          Patel           2500      50.0
John            Seo             2700      50.0
Samuel          McCain          3200      50.0
Stephen         Stiles          3200      50.0
Randall         Matos           2600      50.0
Timothy         Gates           2900      50.0
Vance           Jones           2800      50.0
Kelly           Chung           3800      50.0
Renske          Ladwig          3600      50.0
Alana           Walsh           3100      50.0
Anthony         Cabrio          3000      50.0
Julia           Dellinger       3400      50.0
Alexis          Bull            4100      50.0
Nandita         Sarchand        4200      50.0
Girard          Geoni           2800      50.0
Martha          Sullivan        2500      50.0
Jean            Fleaur          3100      50.0
Winston         Taylor          3200      50.0
Jennifer        Dilly           3600      50.0
Hazel           Philtanker      2200      50.0
Michael         Rogers          2900      50.0
Donald          OConnell        2600      50.0
Douglas         Grant           2600      50.0
Ki              Gee             2400      50.0
Kevin           Feeney          3000      50.0
Matthew         Weiss           8000      50.0
Payam           Kaufling        7900      50.0
Shanta          Vollman         6500      50.0
Kevin           Mourgos         5800      50.0
Julia           Nayer           3200      50.0
Adam            Fripp           8200      50.0
James           Landry          2400      50.0
Steven          Markle          2200      50.0
Laura           Bissot          3300      50.0
Mozhe           Atkinson        2800      50.0
James           Marlow          2500      50.0
TJ              Olson           2100      50.0
Jason           Mallin          3300      50.0
Irene           Mikkilineni     2700      50.0
Alexander       Hunold          9000      60.0
Bruce           Ernst           6000      60.0
Diana           Lorentz         4200      60.0
Valli           Pataballa       4800      60.0
David           Austin          4800      60.0
Hermann         Baer            10000     70.0
Sundita         Kumar           6100      80.0
Elizabeth       Bates           7300      80.0
Ellen           Abel            11000     80.0
William         Smith           7400      80.0
Jonathon        Taylor          8600      80.0
Jack            Livingston      8400      80.0
Charles         Johnson         6200      80.0
Alyssa          Hutton          8800      80.0
Tayler          Fox             9600      80.0
Peter           Hall            9000      80.0
Lisa            Ozer            11500     80.0
John            Russell         14000     80.0
Karen           Partners        13500     80.0
Gerald          Cambrault       11000     80.0
Eleni           Zlotkey         10500     80.0
Peter           Tucker          10000     80.0
David           Bernstein       9500      80.0
Christopher     Olsen           8000      80.0
Nanette         Cambrault       7500      80.0
Oliver          Tuvault         7000      80.0
Janette         King            10000     80.0
Patrick         Sully           9500      80.0
Allan           McEwen          9000      80.0
Lindsey         Smith           8000      80.0
Louise          Doran           7500      80.0
Sarath          Sewall          7000      80.0
Clara           Vishney         10500     80.0
Danielle        Greene          9500      80.0
Mattea          Marvins         7200      80.0
David           Lee             6800      80.0
Sundar          Ande            6400      80.0
Amit            Banda           6200      80.0
Harrison        Bloom           10000     80.0
Alberto         Errazuriz       12000     80.0
Steven          King            24000     90.0
Lex             De Haan         17000     90.0
Neena           Kochhar         17000     90.0
Luis            Popp            6900      100.0
Jose Manuel     Urman           7800      100.0
Ismael          Sciarra         7700      100.0
John            Chen            8200      100.0
Daniel          Faviet          9000      100.0
Nancy           Greenberg       12000     100.0
Shelley         Higgins         12000     110.0
William         Gietz           8300      110.0
Kimberely       Grant           7000      nan

**Display the name, salary and department number in descending order by first name**

Equivalent SQL Syntax:

SELECT first_name, last_name, salary,  department_id
  FROM employees
   ORDER BY first_name desc;

In [0]:
result=employees.sort_values('first_name',ascending=False) # order by desc
# result=employees.sort_values('first_name',ascending=False)  # order by asc
print("First name       Last name      Salary    Department ID")
for index,row in result.iterrows():
  print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name       Last name      Salary    Department ID
Winston         Taylor          3200      50.0
William         Gietz           8300      110.0
William         Smith           7400      80.0
Vance           Jones           2800      50.0
Valli           Pataballa       4800      60.0
Trenna          Rajs            3500      50.0
Timothy         Gates           2900      50.0
Tayler          Fox             9600      80.0
TJ              Olson           2100      50.0
Susan           Mavris          6500      40.0
Sundita         Kumar           6100      80.0
Sundar          Ande            6400      80.0
Steven          Markle          2200      50.0
Steven          King            24000     90.0
Stephen         Stiles          3200      50.0
Sigal           Tobias          2800      30.0
Shelli          Baida           2900      30.0
Shelley         Higgins         12000     110.0
Shanta          Vollman         6500      50.0
Sarath          Sewall          7000      80.0
Sarah           Bell            4000      50.0
Samuel          McCain          3200      50.0
Renske          Ladwig          3600      50.0
Randall         Perkins         2500      50.0
Randall         Matos           2600      50.0
Peter           Vargas          2500      50.0
Peter           Hall            9000      80.0
Peter           Tucker          10000     80.0
Payam           Kaufling        7900      50.0
Patrick         Sully           9500      80.0
Pat             Fay             6000      20.0
Oliver          Tuvault         7000      80.0
Neena           Kochhar         17000     90.0
Nanette         Cambrault       7500      80.0
Nandita         Sarchand        4200      50.0
Nancy           Greenberg       12000     100.0
Mozhe           Atkinson        2800      50.0
Michael         Rogers          2900      50.0
Michael         Hartstein       13000     20.0
Matthew         Weiss           8000      50.0
Mattea          Marvins         7200      80.0
Martha          Sullivan        2500      50.0
Luis            Popp            6900      100.0
Louise          Doran           7500      80.0
Lisa            Ozer            11500     80.0
Lindsey         Smith           8000      80.0
Lex             De Haan         17000     90.0
Laura           Bissot          3300      50.0
Kimberely       Grant           7000      nan
Ki              Gee             2400      50.0
Kevin           Feeney          3000      50.0
Kevin           Mourgos         5800      50.0
Kelly           Chung           3800      50.0
Karen           Partners        13500     80.0
Karen           Colmenares      2500      30.0
Julia           Nayer           3200      50.0
Julia           Dellinger       3400      50.0
Joshua          Patel           2500      50.0
Jose Manuel     Urman           7800      100.0
Jonathon        Taylor          8600      80.0
John            Seo             2700      50.0
John            Russell         14000     80.0
John            Chen            8200      100.0
Jennifer        Whalen          4400      10.0
Jennifer        Dilly           3600      50.0
Jean            Fleaur          3100      50.0
Jason           Mallin          3300      50.0
Janette         King            10000     80.0
James           Landry          2400      50.0
James           Marlow          2500      50.0
Jack            Livingston      8400      80.0
Ismael          Sciarra         7700      100.0
Irene           Mikkilineni     2700      50.0
Hermann         Baer            10000     70.0
Hazel           Philtanker      2200      50.0
Harrison        Bloom           10000     80.0
Guy             Himuro          2600      30.0
Girard          Geoni           2800      50.0
Gerald          Cambrault       11000     80.0
Ellen           Abel            11000     80.0
Elizabeth       Bates           7300      80.0
Eleni           Zlotkey         10500     80.0
Douglas         Grant           2600      50.0
Donald          OConnell        2600      50.0
Diana           Lorentz         4200      60.0
Den             Raphaely        11000     30.0
David           Austin          4800      60.0
David           Lee             6800      80.0
David           Bernstein       9500      80.0
Danielle        Greene          9500      80.0
Daniel          Faviet          9000      100.0
Curtis          Davies          3100      50.0
Clara           Vishney         10500     80.0
Christopher     Olsen           8000      80.0
Charles         Johnson         6200      80.0
Bruce           Ernst           6000      60.0
Britney         Everett         3900      50.0
Anthony         Cabrio          3000      50.0
Amit            Banda           6200      80.0
Alyssa          Hutton          8800      80.0
Allan           McEwen          9000      80.0
Alexis          Bull            4100      50.0
Alexander       Khoo            3100      30.0
Alexander       Hunold          9000      60.0
Alberto         Errazuriz       12000     80.0
Alana           Walsh           3100      50.0
Adam            Fripp           8200      50.0

**Display the name, salary and manger id where manager ids are null**

Equivalent SQL Syntax:

SELECT first_name, last_name, salary, manager_id FROM employees 
where manager_id is null;

In [0]:
print("First name      Last name       Salary    Manager ID")
result = employees[employees['manager_id'].isnull()]
for index,row in result.iterrows():
  print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['manager_id'])

First name      Last name       Salary    Manager ID
Steven          King            24000     nan

**Display the name, salary and manger id where manager ids are not null**


Equivalent SQL Syntax:

SELECT first_name, last_name, salary, manager_id FROM employees where manager_id is not null;

In [0]:
print("First name      Last name       Salary    Manager ID")
result = employees[employees['manager_id'].notnull()]
for index,row in result.iterrows():
  print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['manager_id'])

First name      Last name       Salary    Manager ID
Neena           Kochhar         17000     100.0
Lex             De Haan         17000     100.0
Alexander       Hunold          9000      102.0
Bruce           Ernst           6000      103.0
David           Austin          4800      103.0
Valli           Pataballa       4800      103.0
Diana           Lorentz         4200      103.0
Nancy           Greenberg       12000     101.0
Daniel          Faviet          9000      108.0
John            Chen            8200      108.0
Ismael          Sciarra         7700      108.0
Jose Manuel     Urman           7800      108.0
Luis            Popp            6900      108.0
Den             Raphaely        11000     100.0
Alexander       Khoo            3100      114.0
Shelli          Baida           2900      114.0
Sigal           Tobias          2800      114.0
Guy             Himuro          2600      114.0
Karen           Colmenares      2500      114.0
Matthew         Weiss           8000      100.0
Adam            Fripp           8200      100.0
Payam           Kaufling        7900      100.0
Shanta          Vollman         6500      100.0
Kevin           Mourgos         5800      100.0
Julia           Nayer           3200      120.0
Irene           Mikkilineni     2700      120.0
James           Landry          2400      120.0
Steven          Markle          2200      120.0
Laura           Bissot          3300      121.0
Mozhe           Atkinson        2800      121.0
James           Marlow          2500      121.0
TJ              Olson           2100      121.0
Jason           Mallin          3300      122.0
Michael         Rogers          2900      122.0
Ki              Gee             2400      122.0
Hazel           Philtanker      2200      122.0
Renske          Ladwig          3600      123.0
Stephen         Stiles          3200      123.0
John            Seo             2700      123.0
Joshua          Patel           2500      123.0
Trenna          Rajs            3500      124.0
Curtis          Davies          3100      124.0
Randall         Matos           2600      124.0
Peter           Vargas          2500      124.0
John            Russell         14000     100.0
Karen           Partners        13500     100.0
Alberto         Errazuriz       12000     100.0
Gerald          Cambrault       11000     100.0
Eleni           Zlotkey         10500     100.0
Peter           Tucker          10000     145.0
David           Bernstein       9500      145.0
Peter           Hall            9000      145.0
Christopher     Olsen           8000      145.0
Nanette         Cambrault       7500      145.0
Oliver          Tuvault         7000      145.0
Janette         King            10000     146.0
Patrick         Sully           9500      146.0
Allan           McEwen          9000      146.0
Lindsey         Smith           8000      146.0
Louise          Doran           7500      146.0
Sarath          Sewall          7000      146.0
Clara           Vishney         10500     147.0
Danielle        Greene          9500      147.0
Mattea          Marvins         7200      147.0
David           Lee             6800      147.0
Sundar          Ande            6400      147.0
Amit            Banda           6200      147.0
Lisa            Ozer            11500     148.0
Harrison        Bloom           10000     148.0
Tayler          Fox             9600      148.0
William         Smith           7400      148.0
Elizabeth       Bates           7300      148.0
Sundita         Kumar           6100      148.0
Ellen           Abel            11000     149.0
Alyssa          Hutton          8800      149.0
Jonathon        Taylor          8600      149.0
Jack            Livingston      8400      149.0
Kimberely       Grant           7000      149.0
Charles         Johnson         6200      149.0
Winston         Taylor          3200      120.0
Jean            Fleaur          3100      120.0
Martha          Sullivan        2500      120.0
Girard          Geoni           2800      120.0
Nandita         Sarchand        4200      121.0
Alexis          Bull            4100      121.0
Julia           Dellinger       3400      121.0
Anthony         Cabrio          3000      121.0
Kelly           Chung           3800      122.0
Jennifer        Dilly           3600      122.0
Timothy         Gates           2900      122.0
Randall         Perkins         2500      122.0
Sarah           Bell            4000      123.0
Britney         Everett         3900      123.0
Samuel          McCain          3200      123.0
Vance           Jones           2800      123.0
Alana           Walsh           3100      124.0
Kevin           Feeney          3000      124.0
Donald          OConnell        2600      124.0
Douglas         Grant           2600      124.0
Jennifer        Whalen          4400      101.0
Michael         Hartstein       13000     100.0
Pat             Fay             6000      201.0
Susan           Mavris          6500      101.0
Hermann         Baer            10000     101.0
Shelley         Higgins         12000     101.0
William         Gietz           8300      205.0

 **Create a boolean series selecting rows with one or more nulls from locations file**

In [0]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
locations.isnull()

,location_id,street_address,postal_code,city,state_province,country_id
0,False,False,False,False,True,False
1,False,False,False,False,True,False
2,False,False,False,False,False,False
3,False,False,False,False,True,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,True,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,True,False
14,False,False,True,False,True,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False

** Count the NaN values of all the columns of locations file**

In [0]:
print('\n NaN values of all the columns of locations file:')
print(locations.isna().sum())

 NaN values of all the columns of locations file:
location_id       0
street_address    0
postal_code       1
city              0
state_province    6
country_id        0
dtype: int64

**Display the first name, last name, salary and department number for those employees whose first name ends with the letter 'm'.**

In [0]:
print("First name       Last name      Salary    Department ID")

result = employees[employees['first_name'].str[-1]=='m']
for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name       Last name      Salary    Department ID
Adam            Fripp           8200      50.0
Payam           Kaufling        7900      50.0
William         Smith           7400      80.0
William         Gietz           8300      110.0

**Display the first name, last name, salary and department number for those employees whose first name ends with the letter 'd' or 'n' or 's' and also arrange the result in descending order by department id.**


Equivalent SQL Syntax:

SELECT first_name, last_name, salary, department_id
 FROM employees

  WHERE first_name LIKE '%D%'

   OR first_name LIKE '%S%'

   OR first_name LIKE '%N%'
   ORDER BY salary DESC;

In [0]:
print("First name       Last name      Salary    Department ID")

result = employees[employees['first_name'].str[-1].isin(['s','d','n'])]
result =result.sort_values('department_id',ascending=True)
for index,row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name       Last name      Salary    Department ID
Den             Raphaely        11000     30.0
Karen           Colmenares      2500      30.0
Susan           Mavris          6500      40.0
Jason           Mallin          3300      50.0
Alexis          Bull            4100      50.0
Kevin           Feeney          3000      50.0
Curtis          Davies          3100      50.0
John            Seo             2700      50.0
Stephen         Stiles          3200      50.0
Winston         Taylor          3200      50.0
James           Marlow          2500      50.0
Steven          Markle          2200      50.0
James           Landry          2400      50.0
Kevin           Mourgos         5800      50.0
Donald          OConnell        2600      50.0
Douglas         Grant           2600      50.0
Girard          Geoni           2800      50.0
Jean            Fleaur          3100      50.0
David           Austin          4800      60.0
Hermann         Baer            10000     70.0
Charles         Johnson         6200      80.0
Jonathon        Taylor          8600      80.0
Gerald          Cambrault       11000     80.0
Harrison        Bloom           10000     80.0
David           Lee             6800      80.0
Allan           McEwen          9000      80.0
David           Bernstein       9500      80.0
Karen           Partners        13500     80.0
John            Russell         14000     80.0
Ellen           Abel            11000     80.0
Steven          King            24000     90.0
Luis            Popp            6900      100.0
John            Chen            8200      100.0

**Display the name, salary and department number for employees who works either in department 70 or 90**

Equivalent SQL Syntax:

SELECT first_name, last_name, salary, department_id
 FROM employees
  WHERE department_id IN (70 , 90);

In [106]:
print("First Name         Salary       Department Id")

result = employees[employees['department_id'].isin([70,90])]
result
for index,row in result.iterrows():
  print(row['first_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First Name         Salary       Department Id
Steven          24000     90.0
Neena           17000     90.0
Lex             17000     90.0
Hermann         10000     70.0

**Display the name, salary and department number for those employees whose managers are hold the ID 120, 103 or 145**

Equivalent SQL Syntax:

SELECT first_name, last_name, email, 

  salary, manager_id

  FROM employees
     WHERE manager_id IN (120 , 103 , 145);

In [110]:
print("first_name      last_name,       email,      salary,     manager_id")

result =employees[employees['manager_id'].isin([120,103,145])]

for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['manager_id'])

first_name      last_name,       email,      salary,     manager_id
Bruce           Ernst           6000      103.0
David           Austin          4800      103.0
Valli           Pataballa       4800      103.0
Diana           Lorentz         4200      103.0
Julia           Nayer           3200      120.0
Irene           Mikkilineni     2700      120.0
James           Landry          2400      120.0
Steven          Markle          2200      120.0
Peter           Tucker          10000     145.0
David           Bernstein       9500      145.0
Peter           Hall            9000      145.0
Christopher     Olsen           8000      145.0
Nanette         Cambrault       7500      145.0
Oliver          Tuvault         7000      145.0
Winston         Taylor          3200      120.0
Jean            Fleaur          3100      120.0
Martha          Sullivan        2500      120.0
Girard          Geoni           2800      120.0

**Display the name, salary and department number for those employees who holds a letter n as a 3rd character in their first name**

Equivalent SQL Syntax:

SELECT first_name,last_name, department_id
 FROM employees
  WHERE first_name LIKE '__n%';

In [111]:
print("First name      Last name       Salary    Department ID")
result = employees[employees['first_name'].str[2:3]=='n']
for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name      Last name       Salary    Department ID
Nancy           Greenberg       12000     100.0
Daniel          Faviet          9000      100.0
Den             Raphaely        11000     30.0
Renske          Ladwig          3600      50.0
Randall         Matos           2600      50.0
Nanette         Cambrault       7500      80.0
Janette         King            10000     80.0
Lindsey         Smith           8000      80.0
Danielle        Greene          9500      80.0
Sundar          Ande            6400      80.0
Sundita         Kumar           6100      80.0
Jonathon        Taylor          8600      80.0
Winston         Taylor          3200      50.0
Nandita         Sarchand        4200      50.0
Jennifer        Dilly           3600      50.0
Randall         Perkins         2500      50.0
Vance           Jones           2800      50.0
Donald          OConnell        2600      50.0
Jennifer        Whalen          4400      10.0

**Display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80**


Equivalent SQL Syntax:

SELECT employee_id, first_name, job_id, department_id

 FROM employees

  WHERE department_id NOT IN (50, 30, 80);

In [114]:
print("First name      Job ID       Salary    Department ID")

result = employees[~employees['department_id'].isin([50,30,80])]

for index,row  in result.iterrows():
    print(row['first_name'].ljust(15),row['job_id'].ljust(12),str(row['salary']).ljust(9),row['department_id'])

First name      Job ID       Salary    Department ID
Steven          AD_PRES      24000     90.0
Neena           AD_VP        17000     90.0
Lex             AD_VP        17000     90.0
Alexander       IT_PROG      9000      60.0
Bruce           IT_PROG      6000      60.0
David           IT_PROG      4800      60.0
Valli           IT_PROG      4800      60.0
Diana           IT_PROG      4200      60.0
Nancy           FI_MGR       12000     100.0
Daniel          FI_ACCOUNT   9000      100.0
John            FI_ACCOUNT   8200      100.0
Ismael          FI_ACCOUNT   7700      100.0
Jose Manuel     FI_ACCOUNT   7800      100.0
Luis            FI_ACCOUNT   6900      100.0
Kimberely       SA_REP       7000      nan
Jennifer        AD_ASST      4400      10.0
Michael         MK_MAN       13000     20.0
Pat             MK_REP       6000      20.0
Susan           HR_REP       6500      40.0
Hermann         PR_REP       10000     70.0
Shelley         AC_MGR       12000     110.0
William         AC_ACCOUNT   8300      110.0

Display the ID for those employees who did two or more jobs in the past.

Equivalent SQL Syntax:

SELECT employee_id 
	FROM job_history 
		GROUP BY employee_id 
			HAVING COUNT(*) >=2;

In [115]:
result = job_history.groupby('employee_id')
print(result.filter(lambda x: len(x) > 1).groupby('employee_id').size().sort_values(ascending=False))

employee_id
200    2
176    2
101    2
dtype: int64

**Calculate minimum, maximum and mean salary from employees file**

In [116]:
print(employees.agg({'salary': ['min', 'max', 'mean', 'median']}))

              salary
min      2100.000000
max     24000.000000
mean     6461.682243
median   6200.000000