<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/Movies_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
from google.colab import files
uploaded = files.upload()

Saving movies1.csv to movies1.csv

In [0]:
movies= pd.read_csv('movies1.csv', encoding='latin-1')

In [120]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 24 columns):
adult                    49 non-null bool
belongs_to_collection    10 non-null object
budget                   49 non-null int64
genres                   49 non-null object
homepage                 5 non-null object
id                       49 non-null int64
imdb_id                  49 non-null object
original_language        49 non-null object
original_title           49 non-null object
overview                 48 non-null object
popularity               49 non-null float64
poster_path              49 non-null object
production_companies     49 non-null object
production_countries     49 non-null object
release_date             49 non-null object
revenue                  49 non-null int64
runtime                  49 non-null int64
spoken_languages         49 non-null object
status                   49 non-null object
tagline                  40 non-null object
title                    49 non-null object
video                    49 non-null bool
vote_average             49 non-null float64
vote_count               49 non-null int64
dtypes: bool(2), float64(2), int64(5), object(15)
memory usage: 8.6+ KB

**Pandas program to get the columns of the DataFrame (movies.csv file)**

In [36]:
print("Columns of the DataFrame:")
movies.columns

Columns of the DataFrame:

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Unnamed: 24'],
      dtype='object')

**Get the information of the DataFrame including data types and memory usage**

In [37]:
result = movies.info()
print("Details of the DataFrame:")
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 25 columns):
adult                    50 non-null bool
belongs_to_collection    10 non-null object
budget                   50 non-null int64
genres                   50 non-null object
homepage                 5 non-null object
id                       50 non-null int64
imdb_id                  50 non-null object
original_language        50 non-null object
original_title           50 non-null object
overview                 49 non-null object
popularity               50 non-null object
poster_path              50 non-null object
production_companies     50 non-null object
production_countries     50 non-null object
release_date             50 non-null object
revenue                  50 non-null object
runtime                  50 non-null int64
spoken_languages         50 non-null object
status                   50 non-null object
tagline                  41 non-null object
title                    50 non-null object
video                    50 non-null object
vote_average             50 non-null object
vote_count               50 non-null float64
Unnamed: 24              1 non-null float64
dtypes: bool(1), float64(2), int64(3), object(19)
memory usage: 9.5+ KB
Details of the DataFrame:
None

**Get the details of the thrid movie of the DataFrame**

In [41]:
result = movies.iloc[2]
print(result)

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    22-12-1995
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                FALSE
vote_average                                                           6.5
vote_count                                                              92
Unnamed: 24                                                            NaN
Name: 2, dtype: object

** Pandas program to count the number of rows and columns of the DataFrame**

In [44]:
print("Number of rows and columns of the DataFrame:")
result=movies.shape
print(result)

Number of rows and columns of the DataFrame:
(50, 25)

In [48]:
result = movies[['title', 'genres']]
print("Details of title and genres:")
print(result)

Details of title and genres:
                                                title                                             genres
0                                           Toy Story  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1                                             Jumanji  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2                                    Grumpier Old Men  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3                                   Waiting to Exhale  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         Father of the Bride Part II                     [{'id': 35, 'name': 'Comedy'}]
5                                                Heat  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6                                             Sabrina  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7                                        Tom and Huck  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8                                        Sudden Death  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9                                           GoldenEye  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10                             The American President  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11                        Dracula: Dead and Loving It  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12                                              Balto  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13                                              Nixon  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14                                   Cutthroat Island  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15                                             Casino  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16                              Sense and Sensibility  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17                                         Four Rooms  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18                     Ace Ventura: When Nature Calls  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19                                        Money Train  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20                                         Get Shorty  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21                                            Copycat  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22                                          Assassins  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23                                             Powder  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24                                  Leaving Las Vegas  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                                            Othello                      [{'id': 18, 'name': 'Drama'}]
26                                       Now and Then  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27                                         Persuasion  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28                          The City of Lost Children  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  In 1930's Shanghai violence was not the proble...  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30                                    Dangerous Minds  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
31                                     Twelve Monkeys  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
32                                   Wings of Courage  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
33                                               Babe  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
34                                         Carrington  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
35                                   Dead Man Walking                      [{'id': 18, 'name': 'Drama'}]
36                             Across the Sea of Time  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
37                                       It Takes Two  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
38                                           Clueless  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
39                           Cry, the Beloved Country                      [{'id': 18, 'name': 'Drama'}]
40                                        Richard III  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
41                                    Dead Presidents  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
42                                        Restoration  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
43                                      Mortal Kombat  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
44                                         To Die For  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
45                      How To Make An American Quilt  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
46                                              Se7en  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
47                                         Pocahontas  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
48                              When Night Is Falling  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
49                                 The Usual Suspects  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

**Pandas program to get the details of the movie with title 'Grumpier Old Men'.**

In [50]:
df = movies.set_index('title')
#Details of the movie 'Grumpier Old Men'
result = df.loc['Grumpier Old Men']
print("Details of the movie 'Grumpier Old Men:")
print(result)

Details of the movie 'Grumpier Old Men:
adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    22-12-1995
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
video                                                                FALSE
vote_average                                                           6.5
vote_count                                                              92
Unnamed: 24                                                            NaN
Name: Grumpier Old Men, dtype: object

**Pandas program to get the details of fifth movie of the DataFrame.**

In [51]:
result = movies.iloc[4]
print("Details of the fifth movie of the DataFrame:")
print(result)

Details of the fifth movie of the DataFrame:
adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                   11862
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                        8.387519
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    10-02-1995
revenue                                                           76578911
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
title                                          Father of the Bride Part II
video                                                                FALSE
vote_average                                                           5.7
vote_count                                                             173
Unnamed: 24                                                            NaN
Name: 4, dtype: object

**Create a smaller dataframe with a subset of all features**

In [52]:
small_df = movies[['title', 'release_date', 'budget', 'revenue', 'runtime']]
print("Smaller DataFrame:")
print(small_df.head())

Smaller DataFrame:
                         title release_date    budget    revenue  runtime
0                    Toy Story   30-10-1995  30000000  373554033       81
1                      Jumanji   15-12-1995  65000000  262797249      104
2             Grumpier Old Men   22-12-1995         0          0      101
3            Waiting to Exhale   22-12-1995  16000000   81452156      127
4  Father of the Bride Part II   10-02-1995         0   76578911      106

**Display the first 10 rows of the DataFrame**

In [78]:
result = movies.head(10)
print("First 10 rows of the DataFrame:")
result

First 10 rows of the DataFrame:

   adult  ... Unnamed: 24
0  False  ...         NaN
1  False  ...         NaN
2  False  ...         NaN
3  False  ...         NaN
4  False  ...         NaN
5  False  ...         NaN
6  False  ...         NaN
7  False  ...         NaN
8  False  ...         NaN
9  False  ...         NaN

[10 rows x 25 columns]

**Sort the DataFrame based on release_date**

In [77]:
small_df = movies[['title', 'release_date', 'budget', 'revenue', 'runtime']]
result = small_df.sort_values('release_date')
print("DataFrame based on release date.")
result

DataFrame based on release date.

                                                title  ... runtime
48                              When Night Is Falling  ...      96
45                      How To Make An American Quilt  ...     116
22                                          Assassins  ...     132
41                                    Dead Presidents  ...     119
34                                         Carrington  ...     121
17                                         Four Rooms  ...      98
4                         Father of the Bride Part II  ...     106
18                     Ace Ventura: When Nature Calls  ...      90
30                                    Dangerous Minds  ...      99
16                              Sense and Sensibility  ...     136
47                                         Pocahontas  ...      81
1                                             Jumanji  ...     104
6                                             Sabrina  ...     127
5                                                Heat  ...     170
25                                            Othello  ...     123
39                           Cry, the Beloved Country  ...     106
28                          The City of Lost Children  ...     108
9                                           GoldenEye  ...     130
10                             The American President  ...     106
37                                       It Takes Two  ...     101
33                                               Babe  ...      89
43                                      Mortal Kombat  ...     101
32                                   Wings of Courage  ...      50
38                                           Clueless  ...      97
49                                 The Usual Suspects  ...     106
44                                         To Die For  ...     106
26                                       Now and Then  ...     100
36                             Across the Sea of Time  ...      51
20                                         Get Shorty  ...     105
19                                        Money Train  ...     103
46                                              Se7en  ...     127
15                                             Casino  ...     178
14                                   Cutthroat Island  ...     119
13                                              Nixon  ...     192
12                                              Balto  ...      78
11                        Dracula: Dead and Loving It  ...      88
8                                        Sudden Death  ...     106
7                                        Tom and Huck  ...      97
3                                   Waiting to Exhale  ...     127
2                                    Grumpier Old Men  ...     101
27                                         Persuasion  ...     104
24                                  Leaving Las Vegas  ...     112
23                                             Powder  ...     111
21                                            Copycat  ...     124
42                                        Restoration  ...     117
35                                   Dead Man Walking  ...     122
31                                     Twelve Monkeys  ...     129
40                                        Richard III  ...     104
0                                           Toy Story  ...      81
29  In 1930's Shanghai violence was not the proble...  ...       0

[50 rows x 5 columns]

In [88]:
result = small_df[small_df['release_date'] > '1995-01-01']
print("DataFrame based on release date>'1995-01-01'.")
print(result)

DataFrame based on release date>'1995-01-01'.
                                                title  ... runtime
0                                           Toy Story  ...      81
2                                    Grumpier Old Men  ...     101
3                                   Waiting to Exhale  ...     127
7                                        Tom and Huck  ...      97
8                                        Sudden Death  ...     106
11                        Dracula: Dead and Loving It  ...      88
12                                              Balto  ...      78
13                                              Nixon  ...     192
14                                   Cutthroat Island  ...     119
15                                             Casino  ...     178
19                                        Money Train  ...     103
20                                         Get Shorty  ...     105
21                                            Copycat  ...     124
23                                             Powder  ...     111
24                                  Leaving Las Vegas  ...     112
26                                       Now and Then  ...     100
27                                         Persuasion  ...     104
29  In 1930's Shanghai violence was not the proble...  ...       0
31                                     Twelve Monkeys  ...     129
35                                   Dead Man Walking  ...     122
36                             Across the Sea of Time  ...      51
40                                        Richard III  ...     104
42                                        Restoration  ...     117
44                                         To Die For  ...     106
46                                              Se7en  ...     127

[25 rows x 5 columns]

**Sort movies on runtime in descending order**

In [93]:
small_df = movies[['title', 'release_date', 'budget', 'revenue', 'runtime']]
#Sort Movies based on runtime (in descending order)
result = small_df.sort_values('runtime', ascending=False)
print("DataFrame sort on Runtime.")
print(result.head())

DataFrame sort on Runtime.
                    title release_date    budget    revenue  runtime
13                  Nixon   22-12-1995  44000000   13681765      192
15                 Casino   22-11-1995  52000000  116112375      178
5                    Heat   15-12-1995  60000000  187436818      170
16  Sense and Sensibility   13-12-1995  16500000  135000000      136
22              Assassins   06-10-1995  50000000   30303072      132

In [101]:
small_df = movies[['title', 'release_date', 'budget', 'revenue', 'runtime']]
small_df.head()

                         title release_date    budget    revenue  runtime
0                    Toy Story   30-10-1995  30000000  373554033       81
1                      Jumanji   15-12-1995  65000000  262797249      104
2             Grumpier Old Men   22-12-1995         0          0      101
3            Waiting to Exhale   22-12-1995  16000000   81452156      127
4  Father of the Bride Part II   10-02-1995         0   76578911      106

**Get those movies whose revenue more than 2 million and spent less than 1 million**

In [123]:
small_df = movies[['title', 'release_date', 'budget', 'revenue', 'runtime']]
result = small_df[(small_df['revenue'].astype(int) > 20000000) & (small_df['budget'] < 10000000)]
print("Movies, revenue more than 2 million and spent less than 1 million:")
print(result.head())

Movies, revenue more than 2 million and spent less than 1 million:
                          title release_date   budget    revenue  runtime
4   Father of the Bride Part II   10-02-1995        0   76578911      106
24            Leaving Las Vegas   27-10-1995  3600000   49800000      112
29              Dangerous Minds   11-08-1995        0  180000000       99
48           The Usual Suspects   19-07-1995  6000000   23341568      106