<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/Python_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the necessary libraries**

In [0]:
import pandas as pd
import numpy as np

### **Assign it to a variable called chipo.**

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')


**Step 4. See the first 5 entries**

In [4]:
df.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

**Step 5. What is the number of observations in the dataset?**

In [5]:

# Solution 1

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
# Solution 2

df.shape

(4622, 5)

In [7]:
#total 5 columns
df.shape[1]

5

**Step 7. Print the name of all the columns**

In [8]:

df.head(0)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []


**Step 8. How is the dataset indexed?**

In [9]:
df.index

RangeIndex(start=0, stop=4622, step=1)

**Step 9. Which was the most-ordered item?**

In [10]:
df.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

**Step 10. For the most-ordered item, how many items were ordered?**

In [13]:
df.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

**Step 11. What was the most ordered item in the choice_description column?**

In [16]:
df.groupby(by="choice_description").sum().sort_values('quantity',ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

**Step 12. How many items were orderd in total?**

In [17]:
df.item_name.count()

4622

**Step 13. Turn the item price into a float**

Step 13.a. Check the item price type

In [19]:
df.item_price.dtype

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [0]:
dollarizer = lambda x:float(x[1:-1])
df.item_price =df.item_price.apply(dollarizer)

Step 13.c. Check the item price type

In [22]:
df.item_price.dtype

dtype('float64')

**Step 14. How much was the revenue for the period in the dataset?**

In [25]:
revenue =(df.item_price * df.quantity).sum()
print('Revenue is : Rs' +str(revenue))

Revenue is : Rs39237.02

**Step 15. How many orders were made in the period?**

In [26]:
df.order_id.value_counts().count()

1834

**Step 16. What is the average revenue amount per order?**