<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/revision2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [482]:
from google.colab import files
uploaded = files.upload()

Saving revision_04-01-2020.csv to revision_04-01-2020 (8).csv

In [0]:
import io
import pandas as pd
revision2014 = pd.read_csv(io.BytesIO(uploaded['revision_04-01-2020.csv']))

In [460]:
revision2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
REASON      100 non-null object
Left        42 non-null object
Right       9 non-null object
Multiple    3 non-null float64
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

In [0]:
# funtion return form number and to number
import re

def fu_return_from_to_block_backup(p_text,p_left,p_right):
    from_number=0
    to_number=0
    text =  p_text.upper()
    left = p_left.upper()
    right =  p_right.upper()
    list_values=[]
    list_values=text[text.index(left)+len(left):len(text)]
    if len(left)>0 and len(text)>0 and len(right)==0:

      a=text[text.index(left)+len(left):len(text)]
      if len(a)>0:
        x=[a]
        res = list(map(lambda sub:int(''.join([ele for ele in sub if ele.isnumeric()])), x))
        from_number=0
        to_number=0
        if len(str(res[0]))==4:
          from_number=str(res[0])[:2]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==3:
          from_number=str(res[0])[:1]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==1:
          string = str(res[0])
          if string.isnumeric():
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]       
        elif (len(str(res[0])))==2:
          z=re.sub('[^A-Za-z0-9--]+', '', list_values)
          if (z.isnumeric()) == True:  
            from_number=str(res[0])[:2]
            to_number=str(res[0])[-2:]
          elif  (z.isnumeric()) == False:
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]

        # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
        z=""
        a=''
    elif len(right)>0 and len(text)>0 and len(left)==0:
      b=text[text.index(right)+len(right):len(text)]
      if len(bool)>0:
        # print(text.ljust(100),b)
        b=''
    if len(str(from_number))>0:
      return from_number,to_number

In [0]:
df1=revision2014

In [487]:
df1.info()
df1=df1.astype(str)
df1.Left.fillna('', inplace=True)
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
REASON      100 non-null object
Left        42 non-null object
Right       9 non-null object
Multiple    3 non-null float64
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

                                               REASON    Left    Right Multiple
0   CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...     nan      nan      nan
1              CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48     BLK      nan      nan
2                  CHANDRAPUR -Rev 2 blk 65 to 96 ICQ     nan      nan      nan
3   CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by S...    SLDC      nan      nan
4    CHANDRAPUR -5CHANDRAPURBD WD BLK 9 TO 28 BY SLDC     BLK  BY SLDC      nan
..                                                ...     ...      ...      ...
95           CHANDRAPUR -REV BY SLDC: BD WD : BLK[27]     BLK      nan      nan
96  CHANDRAPUR -REV1:U-3,4:PCQ:U6,7:COAL MILL PROB...     nan      nan      nan
97  CHANDRAPUR -CHANDRAPUR REV2 U2-TRIPPED U5-PCQ ...     nan      nan      nan
98  CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK...  WD BLK      nan      nan
99  CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK...  WD BLK      nan      nan

[100 rows x 4 columns]

In [484]:
df1.head()

0     nan
1     BLK
2     nan
3    SLDC
4     BLK
Name: Left, dtype: object

In [0]:

# for index1, row in df1.iterrows():
#     from_number1=0
#     to_number1=0

#     text =  row['REASON']
#     left =  row['Left']
#     right =  row['Right']
#     if from_number1.isdigit():
#     from_number1,to_number1=fu_return_from_to_block(text,left,right)
#     # if from_number1.isdigit():
#     #   print(text,' -    ', from_number1,'  -   ',to_number1)
#     # from_number=0
#     # to_number=0
#     print( from_number1,'  -   ',to_number1)
#     from_number='0'
#     to_number='0'

In [464]:
fu_return_from_to_block('REV 3 BLK 67 TO 96 ICQ AND BD BY SLDC 6 TO 8','BD BY SLDC','')

('6', '8')

In [474]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
REASON      100 non-null object
Left        42 non-null object
Right       9 non-null object
Multiple    3 non-null float64
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

In [0]:
df1=df1['Left'].astype(str)

In [476]:
import re
import numpy as np
for index1, row in df1.iterrows():
    text =  row['REASON'].upper()
    left =  row['Left'].upper()
    right =  row['Right'].upper()
    # print(text,'    ',left,'    ',right,'    ',len(left),'      ',len(right))
    list_values=[]
    list_values=text[text.index(left)+len(left):len(text)]

    if len(left)>0 and len(text)>0: 
      # and len(right)==0:
      # print(len(right))
      a=text[text.index(left)+len(left):len(text)]
      # print(a)
      if len(a)>0:
        x=[a]
        res = list(map(lambda sub:int(''.join([ele for ele in sub if ele.isnumeric()])), x))
        from_number=0
        to_number=0
        if len(str(res[0]))==4:
          from_number=str(res[0])[:2]
          to_number=str(res[0])[-2:]
          print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
        elif len(str(res[0]))==3:
          from_number=str(res[0])[:1]
          to_number=str(res[0])[-2:]
          print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
        elif len(str(res[0]))==1:
          string = str(res[0])
          if string.isnumeric():
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]
            print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)       
        elif (len(str(res[0])))==2:
          z=re.sub('[^A-Za-z0-9--]+', '', list_values)
          if (z.isnumeric()) == True:  
            from_number=str(res[0])[:2]
            to_number=str(res[0])[-2:]
            print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
          elif  (z.isnumeric()) == False:
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]
            z=""
            a=''
            print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)

    elif len(right)>0 and len(text)>0 and len(left)==0:
      b=text[text.index(right)+len(right):len(text)]
      if len(bool)>0:
        print(text.ljust(100),b)
        b=''

AttributeError: ignored

In [468]:
scriteria = ['SLDC','BACKDOWN','BDN','BACKBOWN','BD','BACKDN','BACK DOWN','B/D','BKD','BKDW','BACKING BOWN','B/DN']  
sstring = '|'.join(scriteria)
df1 =  df1[df1['REASON'].str.upper().str.contains(sstring)]
df1

KeyError: ignored

In [0]:
import re
import numpy as np

def fu_return_from_to_block(p_text,p_left,p_right):

  # for index1, row in df1.iterrows():
      text =  p_text
      left =  p_left
      right =  p_right
      # print(text,'    ',left,'    ',right,'    ',len(left),'      ',len(right))
      list_values=[]
      list_values=text[text.index(left)+len(left):len(text)]

      if len(left)>0 and len(text)>0: 
        a=text[text.index(left)+len(left):len(text)]
        if not a:
            from_number=0
            to_number=0
            return from_number,to_number 
        if len(a)>0:
          x=[a]
          res = list(map(lambda sub:int(''.join([ele for ele in sub if ele.isnumeric()])), x))

          if len(str(res[0]))>4:
            from_number=res
            to_number=res
            return from_number,to_number 
          from_number=0
          to_number=0
          if len(str(res[0]))==4:
            from_number=str(res[0])[:2]
            to_number=str(res[0])[-2:]
            # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),str(to_number).ljust(15) ,str(left).ljust(15)  ,right)
            return from_number,to_number 
          elif len(str(res[0]))==3:
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-2:]
            # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),str(to_number).ljust(15) ,str(left).ljust(15)  ,right)

            return from_number,to_number 
          elif len(str(res[0]))==1:
            string = str(res[0])
            if string.isnumeric():
              from_number=str(res[0])[:1]
              to_number=str(res[0])[-1:]
              # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),str(to_number).ljust(15) ,str(left).ljust(15)  ,right)   

              return from_number,to_number     
          elif (len(str(res[0])))==2:
            z=re.sub('[^A-Za-z0-9--]+', '', list_values)
            if (z.isnumeric()) == True:  
              from_number=str(res[0])[:2]
              to_number=str(res[0])[-2:]
              # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),str(to_number).ljust(15) ,str(left).ljust(15)  ,right)
              return from_number,to_number 
            elif  (z.isnumeric()) == False:
              from_number=str(res[0])[:1]
              to_number=str(res[0])[-1:]
              z=""
              a=''
              # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),str(to_number).ljust(15) ,str(left).ljust(15)  ,right)
              return from_number,to_number    
      elif len(right)>0 and len(text)>0 and len(left)==0:
        b=text[text.index(right)+len(right):len(text)]
        if len(bool)>0:
          print(text.ljust(100),b)
          b=''
      from_number=0
      to_number=0

In [0]:
scriteria = ['SLDC','BACKDOWN','BDN','BACKBOWN','BD','BACKDN','BACK DOWN','B/D','BKD','BKDW','BACKING BOWN','B/DN']  
sstring = '|'.join(scriteria)
df1 =  df1[df1['REASON'].str.upper().str.contains(sstring)]

In [497]:
df1.head()

                                               REASON  ... Multiple
1              CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48  ...      nan
3   CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by S...  ...      nan
4    CHANDRAPUR -5CHANDRAPURBD WD BLK 9 TO 28 BY SLDC  ...      nan
7       CHANDRAPUR -BACK DOWN FROM BLK(72-76) BY SLDC  ...      nan
11  CHANDRAPUR -CHANDRAPUR Rev2 PCQ BLK 53-96 MW 1...  ...      nan

[5 rows x 4 columns]

In [502]:
for index1, row in df1.iterrows():
    from_number1=0
    to_number1=0
    text =  row['REASON'].upper()
    left =  row['Left'].upper()
    right =  row['Right'].upper()
    print(text.ljust(100), str(left).ljust(15),'  -   ',right)
    # from_number1,to_number1=fu_return_from_to_block(text,left,right)
    # print(text.ljust(100), str(from_number1).ljust(15),'  -   ',to_number1)
    from_number1='0'
    to_number1='0'

CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48                                                               BLK               -    NAN
CHANDRAPUR -REV 3 BLK 67 TO 96 ICQ AND BD BY SLDC 67 TO 89                                           SLDC              -    NAN
CHANDRAPUR -5CHANDRAPURBD WD BLK 9 TO 28 BY SLDC                                                     BLK               -    BY SLDC
CHANDRAPUR -BACK DOWN FROM BLK(72-76) BY SLDC                                                        BLK               -    BY SLDC
CHANDRAPUR -CHANDRAPUR REV2 PCQ BLK 53-96 MW 1775-1734 AND BD IMP BLK 74-75                          IMP BLK           -    NAN
CHANDRAPUR -BACK DOWN WDN:BLK 16 TO 26                                                               BLK               -    NAN
CHANDRAPUR -CHANDRAPUR BACK DOWN WDN BLK 70 BY SLDC                                                  BLK               -    BY SLDC
CHANDRAPUR -REV BY SLDC: BD WD : BLK[16-26]                                                          BLK               -    NAN
CHANDRAPUR -BACK DOWN:BLK 71 TO 76                                                                   BLK               -    NAN
CHANDRAPUR -BACKING DOWN IMPLEMENTED BY SLDC FROM BLK(89-96)                                         BLK               -    NAN
CHANDRAPUR -BACK DOWN BY SLDC BLK1T0 6 , 12 T0 20 AND 27 TO 32                                       BLK               -    NAN
CHANDRAPUR -BACK DOWN BY SLDC:BLK 49 TO 56                                                           BLK               -    NAN
CHANDRAPUR -U5-SYNC:FROM 1232-1582 MW:BLK 26-96 IN STEPS:EXCEPT B/D BLKS                             NAN               -    NAN
CHANDRAPUR -BACK DOWN IN BLK(89-96) BY SLDC                                                          BLK               -    BY SLDC
CHANDRAPUR -CHANDRAPUR BD IMP 9-22                                                                   IMP               -    NAN
CHANDRAPUR -BACKDOWN BY SLDC BLK 48 TO 50                                                            BLK               -    NAN
CHANDRAPUR -BACK DOWN IMPL BY SLDC BLK 82 TO 86                                                      BLK               -    NAN
CHANDRAPUR -PCQ:FROM 1643-1579 MW:BLK 65-96 AND BACKING DOWN EXTENDED FROM BLK(87-89) BY SLDC        BLK               -    BY SLDC
CHANDRAPUR -CHANDRAPUR BD IMP 14-32                                                                  IMP               -    NAN
CHANDRAPUR -BACKING DOWN IMPL.FROM BLK(51-78) BY SLDC                                                BLK               -    BY SLDC
CHANDRAPUR -BACK DOWN WDN:BLK 11 TO 20                                                               BLK               -    NAN
CHANDRAPUR -BACK DOWN WDN 27-32 BD IMP 32-40 AND 51-55 AND 68-77 AND 83 TO 96                        IMP               -    NAN
CHANDRAPUR -CHANDRAPUR BACK DOWN WDN 27TO29AND IMP BLK 34 TO 37                                      BLK               -    NAN
CHANDRAPUR -BD WDN BY SLDC:BLK 14-18 AND BLK-26-28                                                   BY SLDC:BLK       -    NAN
CHANDRAPUR -BACK DOWN BY SLDC:BLK 73 TO 77                                                           BLK               -    NAN
CHANDRAPUR -BACK DOWN BY SLDC:BLK 74 TO 76                                                           BLK               -    NAN
CHANDRAPUR -CHANDRAPUR BD IMP BLK 27 TO 28 BY SDLDC.                                                 BLK               -    BY SLDC
CHANDRAPUR -CHANDRAPUR BD IMP BLK 27 TO 28 BY SDLDC.                                                 BLK               -    BY SLDC
CHANDRAPUR -CORRECTED BY SLDC                                                                        BY SLDC           -    NAN
CHANDRAPUR -U-5 SYNC: BLK[45]:(ALSO INCLUDED BD WD FROM 71 TO 75)                                    WD FROM           -    NAN
CHANDRAPUR -REV BY SLDC: BD IMP : BLK[77-78]                                                         BLK               -    NAN
CHANDRAPUR -CORRECTED BY SLDC                                                                        BY SLDC           -    NAN
CHANDRAPUR -SCH CORRECTED BY SLDC                                                                    BY SLDC           -    NAN
CHANDRAPUR -REV1: U3 PCQ U7 COAL MILL PROB: BLK[1-96]: ALSO INCLUDED BD IMP [16-20]                  BD IMP            -    NAN
CHANDRAPUR -BACKDOWN BY SLDC BLK 59 TO 64 AND 73 TO 96                                               BY SLDC BLK       -    NAN
CHANDRAPUR -CHANDRAPUR BD IMP BLK 11 TO 27 BY SLDC                                                   BLK               -    BY SLDC
CHANDRAPUR -CORRECTED BY SLDC                                                                        BY SLDC           -    NAN
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[28])     WD BLK            -    NAN
CHANDRAPUR -BACK DOWN BY SLDC BLK 51 TO 54                                                           BLK               -    NAN
CHANDRAPUR -REV BY SLDC: BD WD : BLK[27]                                                             BLK               -    NAN
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[2 TO 8]) WD BLK            -    NAN
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[2 - 8])  WD BLK            -    NAN