<a href="https://colab.research.google.com/github/dharmendra-chouhan/Pandas_exercises_colab/blob/master/revision2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [164]:
from google.colab import files
uploaded = files.upload()

Saving revision_04-01-2020.csv to revision_04-01-2020 (3).csv

In [0]:
import io
import pandas as pd
revision2014 = pd.read_csv(io.BytesIO(uploaded['revision_04-01-2020.csv']))

In [185]:
revision2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
REASON      100 non-null object
Left        42 non-null object
Right       9 non-null object
Multiple    3 non-null float64
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

In [0]:
# funtion return form number and to number
import re

def fu_return_from_to_block(p_text,p_left,p_right):
    from_number=0
    to_number=0
    text =  p_text.upper()
    left = p_left.upper()
    right =  p_right.upper()
    list_values=[]
    list_values=text[text.index(left)+len(left):len(text)]
    if len(left)>0 and len(text)>0 and len(right)==0:

      a=text[text.index(left)+len(left):len(text)]
      if len(a)>0:
        x=[a]
        res = list(map(lambda sub:int(''.join([ele for ele in sub if ele.isnumeric()])), x))
        from_number=0
        to_number=0
        if len(str(res[0]))==4:
          from_number=str(res[0])[:2]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==3:
          from_number=str(res[0])[:1]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==1:
          string = str(res[0])
          if string.isnumeric():
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]       
        elif (len(str(res[0])))==2:
          z=re.sub('[^A-Za-z0-9--]+', '', list_values)
          if (z.isnumeric()) == True:  
            from_number=str(res[0])[:2]
            to_number=str(res[0])[-2:]
          elif  (z.isnumeric()) == False:
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]

        # print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
        z=""
        a=''
    elif len(right)>0 and len(text)>0 and len(left)==0:
      b=text[text.index(right)+len(right):len(text)]
      if len(bool)>0:
        # print(text.ljust(100),b)
        b=''
    if len(str(from_number))>2:
      return from_number,to_number

In [252]:

for index1, row in df1.iterrows():
    from_number1=0
    to_number1=0
    text =  row['REASON'].upper()
    left =  row['Left'].upper()
    right =  row['Right'].upper()
    from_number1=fu_return_from_to_block(text,left,right)
    if from_number1.isdigit():
      print(text,' -    ', from_number1,'  -   ',to_number1)
    from_number=0
    to_number=0

AttributeError: ignored

In [189]:
import re
for index1, row in df1.iterrows():
    text =  row['REASON'].upper()
    left =  row['Left'].upper()
    right =  row['Right'].upper()
    list_values=[]
    list_values=text[text.index(left)+len(left):len(text)]
    if len(left)>0 and len(text)>0 and len(right)==0:

      a=text[text.index(left)+len(left):len(text)]
      if len(a)>0:
        x=[a]
        res = list(map(lambda sub:int(''.join([ele for ele in sub if ele.isnumeric()])), x))
        from_number=0
        to_number=0
        if len(str(res[0]))==4:
          from_number=str(res[0])[:2]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==3:
          from_number=str(res[0])[:1]
          to_number=str(res[0])[-2:]
        elif len(str(res[0]))==1:
          string = str(res[0])
          if string.isnumeric():
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]       
        elif (len(str(res[0])))==2:
          z=re.sub('[^A-Za-z0-9--]+', '', list_values)
          if (z.isnumeric()) == True:  
            from_number=str(res[0])[:2]
            to_number=str(res[0])[-2:]
          elif  (z.isnumeric()) == False:
            from_number=str(res[0])[:1]
            to_number=str(res[0])[-1:]
        print(text.ljust(100),str(res).ljust(15),str(from_number).ljust(15),to_number)
        z=""
        a=''
    elif len(right)>0 and len(text)>0 and len(left)==0:
      b=text[text.index(right)+len(right):len(text)]
      if len(bool)>0:
        print(text.ljust(100),b)
        b=''

CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48                                                               [3648]          36              48
CHANDRAPUR -REV 3 BLK 67 TO 96 ICQ AND BD BY SLDC 67 TO 89                                           [6789]          67              89
CHANDRAPUR -CHANDRAPUR REV2 PCQ BLK 53-96 MW 1775-1734 AND BD IMP BLK 74-75                          [7475]          74              75
CHANDRAPUR -BACK DOWN WDN:BLK 16 TO 26                                                               [1626]          16              26
CHANDRAPUR -REV BY SLDC: BD WD : BLK[16-26]                                                          [1626]          16              26
CHANDRAPUR -BACK DOWN:BLK 71 TO 76                                                                   [7176]          71              76
CHANDRAPUR -BACKING DOWN IMPLEMENTED BY SLDC FROM BLK(89-96)                                         [8996]          89              96
CHANDRAPUR -BACK DOWN BY SLDC BLK1T0 6 , 12 T0 20 AND 27 TO 32                                       [106120202732]  0               0
CHANDRAPUR -BACK DOWN BY SLDC:BLK 49 TO 56                                                           [4956]          49              56
CHANDRAPUR -U6-C/M PROB:FROM 1643-1598 MW:BLK[63-96]                                                 [6396]          63              96
CHANDRAPUR -CHANDRAPUR BD IMP 9-22                                                                   [922]           9               22
CHANDRAPUR -BACKDOWN BY SLDC BLK 48 TO 50                                                            [4850]          48              50
CHANDRAPUR -BACK DOWN IMPL BY SLDC BLK 82 TO 86                                                      [8286]          82              86
CHANDRAPUR -CHANDRAPUR BD IMP 14-32                                                                  [1432]          14              32
CHANDRAPUR -BACK DOWN WDN:BLK 11 TO 20                                                               [1120]          11              20
CHANDRAPUR -BACK DOWN WDN 27-32 BD IMP 32-40 AND 51-55 AND 68-77 AND 83 TO 96                        [3240515568778396] 0               0
CHANDRAPUR -CHANDRAPUR BACK DOWN WDN 27TO29AND IMP BLK 34 TO 37                                      [3437]          34              37
CHANDRAPUR -BD WDN BY SLDC:BLK 14-18 AND BLK-26-28                                                   [14182628]      0               0
CHANDRAPUR -BACK DOWN BY SLDC:BLK 73 TO 77                                                           [7377]          73              77
CHANDRAPUR -BACK DOWN BY SLDC:BLK 74 TO 76                                                           [7476]          74              76
CHANDRAPUR -U-5 SYNC: BLK[45]:(ALSO INCLUDED BD WD FROM 71 TO 75)                                    [7175]          71              75
CHANDRAPUR -REV BY SLDC: BD IMP : BLK[77-78]                                                         [7778]          77              78
CHANDRAPUR -REV1: U3 PCQ U7 COAL MILL PROB: BLK[1-96]: ALSO INCLUDED BD IMP [16-20]                  [1620]          16              20
CHANDRAPUR -BACKDOWN BY SLDC BLK 59 TO 64 AND 73 TO 96                                               [59647396]      0               0
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[28])     [28]            28              28
CHANDRAPUR -BACK DOWN BY SLDC BLK 51 TO 54                                                           [5154]          51              54
CHANDRAPUR -REV BY SLDC: BD WD : BLK[27]                                                             [27]            27              27
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[2 TO 8]) [28]            2               8
CHANDRAPUR -REV1:U-3 PCQ,U-5,6,7 CHP PROB :BLK 3-96 :1808-1347 MW:( ALSO INCLUDED BD WD BLK[2 - 8])  [28]            2               8

In [191]:
from google.colab import files
uploaded = files.upload()

Saving MSPGCL_UNT_WISE_01_May_2014_47.xls to MSPGCL_UNT_WISE_01_May_2014_47.xls

In [0]:
import io
import pandas as pd
unitwise_blkdata = pd.read_excel(io.BytesIO(uploaded['MSPGCL_UNT_WISE_01_May_2014_47.xls']))

In [198]:
unitwise_blkdata.head()

   BLOCK NO  KORADI_U1  KORADI_U2  ...  MSEDCL_SOL  MSEDCL_SOL.1  TOTAL MSPGCL GEN
0         1          0          0  ...           0             0          6884.934
1         2          0          0  ...           0             0          6880.962
2         3          0          0  ...           0             0          6823.986
3         4          0          0  ...           0             0          6728.213
4         5          0          0  ...           0             0          6605.226

[5 rows x 76 columns]